.menu-wrap {
    white-space: normal;
}

.button-pad {
    margin: .1em;
}

.navbar {
    padding: .1em;
    border-radius: 1;
}

.header {
    border-bottom-color: black;
    border-radius: 0;
    background: url('/resources/images/nighttime-vector.svg') #151547;
    background-size: 100% 256px ;
    height: 256px;
}

.footer {
    border-bottom-color: black;
    border-radius: 0;
    background: rgb(198, 198, 237);
}

.headermenu .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
    background: rgb(217, 217, 237);
}

.textblockbox 
{
    margin: .1em;
    padding: .2em;
    border: 1px solid #b7b7b7;
}

.errormessage
{
    background: rgb(255, 217, 217);
}

.infomessage
{
    background: rgb(237, 237, 217);
}