language: node_js
node_js:
- '4'
- '5'
env:
- CXX=g++-4.8
services:
- redis-server
addons:
  postgresql: '9.4'
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - librsvg2-dev
    - libimage-exiftool-perl
before_install:
- which phantomjs
- phantomjs --version
before_script:
- psql -c 'create database rm3unit;' -U postgres
- psql -c "CREATE USER wirehead WITH PASSWORD 'rm3test';" -U postgres
- psql -c "GRANT ALL PRIVILEGES ON database rm3unit TO wirehead;" -U postgres
- psql -c "ALTER USER wirehead WITH SUPERUSER;" -U postgres
- psql rm3unit < ./db-schema.sql -U postgres
script: npm run travis
before_deploy:
- tar -pczf scheme-default.tar.gz scheme/default/
deploy:
  - provider: npm
    email: wh-npm@wirewd.com
    api_key:
      secure: PIEJzzgJHDw9zv2sykPcVHrLylurSGVF/ggg2Dy41xyyXF/Gy5RzqKK14jSGXJO1L5386VInhGCjZVpgU4qrxhcaibRNbHTfI0FLOcSiQoQnvxvonlUMfRSZf/DFW6jfeO6SHL3C4MK2/e+BdFdbkVUAUAi5R04r13Op8dbfjVzkzh2qOwx934/0mFcTix3dJ0jo6HaYnN2m4Fc9B68zw3zeTQ8fOFvtlpflkAtPbb8yVK/j+xoWO1J0WJenjrJkz0A3nBKEGhnkp7HoaFg7KwB4/Xi7V7oic7pEmVkWD6TOx8dug9rr8PLSAW1TaFaUUzXlNDpHZrK2WPpk/pnWveIPm4lvkg3yiZukdaj2KC+EfRxLQ+1A5VRsinKJji0hL+Y2nvpHqhlrvHP20MmgGsm1kWGFccM11+uBBrkBA6+BJuPGceuK2Fk1p28U8fyla3dncVTXkZvRhaYixz4SFJ9KKGv43fDb3+pG16rqy5xZJ8k7z7ywMif1VtEsKBr7XLjkFfUuEYpQkJDyBaihwPD0m85J96cD/fogQwcsEZEOzBOGJypKvxNp/pzPEnyFd5QU6JPyM0FkQCDcFaeMBqxhUhwfpv+2rXzd6dHu+eHYC3xHxUTVQztjkB/mydgFxafp70CKo79Fpx+HPxb3wtrnX03QB2tgonoBrfWQqgY=
    on:
      tags: true
      repo: rm3web/rm3
      node: '4'
  - provider: releases
    api_key:
      secure: JMDbzxgUgl5C8oo1hJsnvOgHrujNvihw6gCV1HCiWeO0/Qk+nxxf7L6z4mGS2+5C5wXV9qvgSCfjPLnsVTs4pFeRy+23hALGrVcmFgx0bfJC3XlmtdYaHORMv9zK3XMhHMgjVn3m7Xs6mu841Gp/ZbnpP1tiWhH4NMf2TCcyYS5MuJOPgMJn4VveGTWQvoouErsaCbCbtbRfnLMnze9JJFtkkecsiDj5JzkcaTY3qOh2BXPUdoRuWOYCDxDdMfOSNr7EYF+dTpp5zwtj3/KRJU0V2O0F/Gq+8E3n9zlwC3QqVNUCytttxczTSrmvxhPaYn4lCTocn/7EiqSPZ9p5FQKXM3xTJyD+EKhqffNo49MjK3Fx09tIFGuMyUkjBhJM/84dD94U15ZWSXns+65nUUlVFQRizB/T/J8wvNglJy1Bc90Vae1GaVncl2wd9U6EPuU3IfuvyGhO0CeZhqbaxsSPp55f0crjq8TIWwQcJh2dqg0675oOhOh4ZdyFCbMElfqpMgitbO+3/ggLrT4LRBcxmQqmDTKgoFu5bqQTwHveeQraHe2hSXyMzkNG5JXunG9o467nmg0ZaJGW9twoy1X+EMdPtUgvnLebjwqbkOvr9CYieLhwzsFLuINq8o3vVDgFnV2FqmUC+IKQD9zhVnu7HyMllS173BBmB+4pA2g=
    file: scheme-default.tar.gz
    skip_cleanup: true
    on:
      tags: true
      repo: rm3web/rm3
      node: '4'