language: node_js
node_js:
  - "0.12"
  - "iojs-v2.0"
  - "4"
addons:
  postgresql: "9.3"
  apt:
    packages:
      - librsvg2-dev
before_install:
  - npm i npm@2.14.8 --global
  - wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-1.9.7-linux-x86_64.tar.bz2
  - tar -xf phantomjs-1.9.7-linux-x86_64.tar.bz2
  - sudo rm -rf /usr/local/phantomjs
  - sudo mv phantomjs-1.9.7-linux-x86_64 /usr/local/phantomjs
  - ls /usr/local/phantomjs/bin
  - chmod a+x /usr/local/phantomjs/bin/phantomjs
  - which phantomjs
  - phantomjs --version
before_script:
  - psql -c 'create database rm3unit;' -U postgres
  - psql -c "CREATE USER wirehead WITH PASSWORD 'rm3test';" -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON database rm3unit TO wirehead;" -U postgres
  - psql -c "ALTER USER wirehead WITH SUPERUSER;" -U postgres
  - psql rm3unit < ./db-schema.sql -U postgres
script: "npm run travis"