<div class="grid">
{#data}
<div class="hentry hentry-grid">
  <div class="hentry-grid-inner">
    <a class="icon" href="{@sitePathToUrl path=path /}">
      {@icon/}
    </a>
    <div class="entry-title">
      {@titleLink rel="bookmark" /}
    </div>
  </div>
</div>
{/data}
</div>
{moreLink|s}
{?facet}
<br clear="all" />
<div class="pure-g">
  <div class="pure-u-1-3">
{#facet}
 <br /><a href="{link}">{@formatDate val=facet month="long" year="numeric" /} ({count} )</a>
{/facet}
</div>
</div>
{/facet}