<div class="justified-grid">
{#data}
{?thumbnail}
<div class="hentry">
  <a href="{@sitePathToUrl path=path /}">
    {@thumbnail size="240" /}
  </a>
</div>
{:else}
<div class="hentry">
  <a href="{@sitePathToUrl path=path /}">
    {@icon/}
  </a>
</div>
{/thumbnail}
{/data}
</div>
<div style="clear: left;">
{moreLink|s}
</div>
{?facets}
<br clear="all" />
<div class="pure-g">

{?facets.predicates}
  <div class="pure-u-1-3">
{#facets.predicates}
 <br /><a href="{link}">{facet} ({count})</a>
{/facets.predicates}
</div>
{/facets.predicates}

{?facets.tags}
  <div class="pure-u-1-3">
{#facets.tags}
 <br /><a href="{link}">{facet} ({count})</a>
{/facets.tags}
</div>
{/facets.tags}

{?facets.months}
  <div class="pure-u-1-3">
{#facets.months}
 <br /><a href="{link}">{@formatDate val=facet month="long" year="numeric" /} ({count} )</a>
{/facets.months}
</div>
{/facets.months}

</div>
{/facets}
<script src="{@schemeStaticResource path="bundles/justified.js" /}"></script>