{#data}
<div class="hentry hentry-list">
  <span class="entry-title">
    {@titleLink rel="bookmark" /}
  </span>
  <time class="updated" datetime="{date}">{@formatRelative val=date/}</time>
  <div class="entry-summary">
    {summary}
  </div>
</div>
{/data}
{moreLink|s}
{?facets}
<br clear="all" />
<div class="pure-g">

{?facets.predicates}
  <div class="pure-u-1-3">
{#facets.predicates}
 <br /><a href="{link}">{facet} ({count})</a>
{/facets.predicates}
</div>
{/facets.predicates}

{?facets.tags}
  <div class="pure-u-1-3">
{#facets.tags}
 <br /><a href="{link}">{facet} ({count})</a>
{/facets.tags}
</div>
{/facets.tags}

{?facets.months}
  <div class="pure-u-1-3">
{#facets.months}
 <br /><a href="{link}">{@formatDate val=facet month="long" year="numeric" /} ({count} )</a>
{/facets.months}
</div>
{/facets.months}

</div>
{/facets}