.hentry {
    clear: left;
}

.hentry .updated {
    margin-left: .5em;
}

.hentry .icon {
    border-radius: 0;
    float: left;
}

.l-box {
    padding: 1em;
}

.header {
    border-bottom-color: black;
    border-radius: 0;
    background: url('/resources/images/nighttime-vector.svg') #151547;
    background-size: 100% 256px ;
    height: 256px;
}

.footer {
    border-bottom-color: black;
    border-radius: 0;
    background: rgb(198, 198, 237);
}

.headermenu .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
    background: rgb(217, 217, 237);
}

#draft input[type=text], #draft textarea
{
    font-size:inherit;
    text-align:inherit;
    font-family:inherit;
    color:inherit;
    width:100%;
    border:1px dotted #DFDFDF;
}

.textblockbox 
{ 
    background: rgb(198, 198, 237); 
    padding: 1em;
}